services:
  - type: static
    name: ilce-sekreterlik
    buildCommand: cd sekreterlik-app/client && npm install && npm run build
    staticPublishPath: sekreterlik-app/client/dist
    envVars:
      - key: VITE_USE_FIREBASE
        value: true
      - key: VITE_ENCRYPTION_KEY
        value: ilsekreterlik-app-encryption-key-2024-secret-very-long-key-for-security-minimum-32-characters

